.backIcon {
    padding: 8px;
    box-shadow: 0px 3px 8px rgba(117, 117, 117, 0.0837579);
    background: #FFFFFF;
    mix-blend-mode: normal;
    position: inherit;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 1.35%;
}

.heading {
    height: 22px;
    left: 0%;
    right: -5.09%;
    top: calc(50% - 22px/2 + 0.5px);
    font-style: normal;
    line-height: 22px;
}