<div class="container-fluid" style="">
    <div class="row mx-2">
        <div class="col-12">
            <p class="mt-4 fontsize-16 fw-600 font-black1 heading1" style="
            
            ">Offer Extended</p>
            <div class="col-12 bg-white card1" style="
            ">
                <div class="row d-flex align-items-center p-2">
                    <div class="col-auto">
                        <div class="row" style="align-items: center;">
                            <div class="col-auto">
                                <img src="/assets/Images/img/Bitmap.png" class="rounded-circle">
                            </div>

                            <div class="col-auto">
                                <p class="mb-0" style="white-space: nowrap !important;">Anil Kapoor</p>
                                <div class=" mb-0 fontsize-14 fw-400 line-height-20 font-style font-grey1 whiteSpaceNoWrap"
                                    style="">Director, Piramal Enterprises
                                </div>
                                <p class="mb-0 font-black1  fontsize-16 fw-400 line-height-20 font-style font-grey1 whiteSpaceNoWrap"
                                    style="
                                
                                
    ">Kolkatta</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p class="mb-0  font-grey1 line-height-24" style="
                        ">Offer Extended on</p>
                        <p class="font-black1 font-style fw-400 fontsize-14 line-height-24" style="
                     
                        
                        
                        ">21 Jul 2020</p>
                    </div>
                    <div class="col">
                        <p class="mb-0 font-style fw-400 fontsize-14 line-height-24 font-grey1" style="">Offer Accepted
                            on</p>
                        <p class="font-black1 font-style fw-400 fontsize-14 line-height-24" style="
                       
                        
                        
                        ">23 Jul 2020</p>
                    </div>
                    <div class="col">
                        <p class="mb-0 font-style fw-400 fontsize-14 line-height-24 font-grey1" style="
                       ">Date of Joining</p>
                        <p class="font-black1 font-style fw-400 fontsize-14 line-height-24" style="
                       
                        
                        
                        ">1 Sep 2020</p>
                    </div>
                    <div class="col">
                        <p class="mb-0 font-style fw-400 fontsize-14 line-height-24 font-grey1" style="
                        ">Joining Status</p>
                        <div class="dropdown">
                            <div class="  dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-thin fa-thumbs-up rounded-circle p-2 font-white" style="background: #9EC74A;
                                border: 1px solid #779C2A; " aria-selected="true"></i>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <i class="fas fa-thin fa-thumbs-down rounded-circle p-2 font-white" style="background: #9EC74A;
                                border: 1px solid #779C2A; "></i>

                            </ul>
                        </div>

                        <!-- <button ejs-dropdownbutton [items]='items' content='Message' iconCss='ddb-icons e-message'></button>
                        <button ejs-dropdownbutton [items]='items' content='Message' iconCss='ddb-icons e-message' iconPosition='Top'></button> -->
                    </div>

                    <div class="col-auto">
                        <p class="mb-0 font-style fw-400 fontsize-14 line-height-24 font-grey1" style="
                        ">B.V</p>
                        <div class="dropdown">
                            <div class="  dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-thin fa-thumbs-up rounded-circle p-2 font-white" style="background: #9EC74A;
                                border: 1px solid #779C2A;" aria-selected="true"></i>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <i class="fas fa-thin fa-thumbs-down rounded-circle p-2 font-white" style="background: #9EC74A;
                                border: 1px solid #779C2A;"></i>

                            </ul>
                        </div>

                        <!-- <button ejs-dropdownbutton [items]='items' content='Message' iconCss='ddb-icons e-message'></button>
                        <button ejs-dropdownbutton [items]='items' content='Message' iconCss='ddb-icons e-message' iconPosition='Top'></button> -->
                    </div>
                    <div class="col">
                        <p class="font-style fw-400 fontsize-12 line-height-16 font-grey1" style="
                      ">Metus etiam. Platea aliquet vulputate. Egestas. Lacinia ultrices. Pharetra.
                            Quisque odio
                            morbi sod tea aliquet vulputate.teame</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">

            <div class="row  ">
                <p class="mb-0 mt-4 font-black1 heading1 font-style fw-600 fontsize-16 line-height-20" style="
                ">Prospects</p>
                <table class="table-borderless table-spacing">

                    <thead>
                        <tr class="bg-white" style="
                      border: 1px solid #F3F3F3; align-items: center;">
                            <th class="font-style fw-600 fontsize-14 line-height-19 textUpperCase font-grey1"
                                scope="col" style="
                            text-align: center;
                            letter-spacing: 1px;">Candidate Details</th>
                            <th class="font-style fw-600 fontsize-14 line-height-19 textUpperCase font-grey1"
                                scope="col" style="
                            text-align: center;
                            letter-spacing: 1px;
                           ">Interview schedule</th>
                            <th class="font-style fw-600 fontsize-14 line-height-19 textUpperCase font-grey1"
                                scope="col" style="
                            text-align: center;
                            letter-spacing: 1px;
                           ">Reference Check</th>
                            <th class="font-style fw-600 fontsize-14 line-height-19 textUpperCase font-grey1"
                                scope="col" style="
                            text-align: center;
                            letter-spacing: 1px;
                           ">comments</th>
                        </tr>
                    </thead>
                    <tbody class="gy-5">
                        <tr class="mt-5" style="text-align: center;">
                            <th scope="row"></th>
                            <td>
                                <div class="row d-flex align-items-center" style="margin: 5px;">
                                    <div class="col-auto">
                                        <img src="/assets/Images/Icon/Previous.png">
                                    </div>
                                    <div class="col">
                                        <img src="/assets/Images/img/Bitmap.png">
                                    </div>
                                    <div class="col">
                                        <img src="/assets/Images/img/Bitmap.png">
                                    </div>
                                    <div class="col">
                                        <img src="/assets/Images/img/Bitmap.png">
                                    </div>
                                    <div class="col">
                                        <img src="/assets/Images/img/Bitmap.png">
                                    </div>
                                    <div class="col-auto">
                                        <img src="/assets/Images/Icon/Next.png">
                                    </div>
                                </div>
                            </td>
                            <td class="font-style fw-600 fontsize-12 line-height-20 textUpperCase font-grey1" style="">
                                Leads<span class="dash" style=""></span>Captured</td>
                            <td></td>
                        </tr>
                        <tr class="p-2 mt-3 bg-white card1" style="
                        ">
                            <th scope="row">
                                <div class="col-auto">
                                    <div class="row" style="align-items: center;">
                                        <div class="col-auto">
                                            <img src="/assets/Images/img/Bitmap.png" class="rounded-circle">
                                        </div>

                                        <div class="col-auto">
                                            <p class="mb-0 whiteSpaceNoWrap" style="">Aniket Joshi</p>
                                            <div class=" mb-0 font-grey1 whiteSpaceNoWrap line-height-20 fontsize-14 fw-400 font-style"
                                                style="">Director, Piramal Enterprises
                                            </div>
                                            <p class="mb-0 font-black1 font-grey1 whiteSpaceNoWrap line-height-20 fontsize-14 fw-400 font-style"
                                                style="
                                    ">Mumbai</p>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <div class="row d-flex align-items-center" style="margin: 5px;">
                                    <div class="col-auto">

                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <i class="fas fa-thin fa-thumbs-up" style="color: #9EC74A;
                             " aria-selected="true">
                                        </i>
                                        <p class="mb-0 font-style fw-400 fontsize-12 line-height-22 font-grey1"
                                            style="">Hire</p>
                                        <p class="font-style fw-400 fontsize-12 line-height-22 font-grey1" style="     
                             text-align: center;">1 Jul 2018</p>
                                    </div>
                                    <div class="col">
                                        <p class="font-style fw-400 fontsize-12 line-height-22 font-grey1" style="
                                        text-align: center;">Awaiting
                                            Feedback</p>
                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <i class="fa fa-minus-circle font-black1 bg-white" aria-hidden="true"></i>
                                        <p class="mb-0 font-grey1 line-height-22 fontsize-12 fw-400 font-style" style="
                                        text-align: center;">Undecided</p>
                                        <p class=" font-grey1 line-height-22 fontsize-12 fw-400 font-style" style="   
                                        text-align: center;">1 Jul 2018</p>
                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <p class=" font-grey1 line-height-22 fontsize-12 fw-400 font-style" style=" 
                                        text-align: center;">1 Jul 2018</p>
                                    </div>
                                    <div class="col-auto">

                                    </div>
                                </div>
                            </td>
                            <td class="font-black1  line-height-28 fontsize-18 fw-400 font-style" style="    
                            text-align: center;
                            ">7<span class="dash"></span>3</td>
                            <td class="font-grey1 line-height-16 fontsize-12 fw-400 font-style" style=" width: 40px;">
                                Metus etiam. Platea aliquet vulputate. Egestas. Lacinia ultrices. Pharetra. Quisque odio
                                morbi sod tea aliquet vulputate.teamelatea aliquet vulputate. Egestas. Lacinia ultrices
                                QuisqueQuisqueQuisqueQuklloojjdjuee
                            </td>
                        </tr>
                        <tr class="bg-white card1">
                            <th scope="row">
                                <div class="col-auto">
                                    <div class="row" style="align-items: center;">
                                        <div class="col-auto">
                                            <img src="/assets/Images/img/Bitmap.png" class="rounded-circle">
                                        </div>

                                        <div class="col-auto">
                                            <p class="mb-0" style="white-space: nowrap !important;">Kunjan Kumar</p>
                                            <div
                                                class=" mb-0 font-grey1 whiteSpaceNoWrap line-height-20 fontsize-14 fw-400 font-style">
                                                Director, Housing and Development…
                                            </div>
                                            <p class="mb-0 font-black1 font-grey1 whiteSpaceNoWrap line-height-20 fontsize-14 fw-400 font-style"
                                                style="
                                    ">New Delhi</p>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <div class="row d-flex align-items-center" style="margin: 5px;">
                                    <div class="col-auto">

                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <i class="fas fa-thin fa-thumbs-up" style="color: #9EC74A;
                             " aria-selected="true">
                                        </i>
                                        <p class="mb-0 font-grey1  line-height-22 fontsize-12 fw-400 font-style" style="
                           ">Hire</p>
                                        <p class="font-grey1  line-height-22 fontsize-12 fw-400 font-style" style="
                       
                             text-align: center;
                             
                             ">1 Jul 2018</p>
                                    </div>
                                    <div class="col">
                                        <p class="font-grey1  line-height-22 fontsize-12 fw-400 font-style" style="
                                    
                                        text-align: center;">Awaiting
                                            Feedback</p>
                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <!-- <i class="fa fa-ban" aria-hidden="true"></i> -->
                                        <i class="fa fa-thumbs-down font-black1 bg-white " style=" "
                                            aria-hidden="true"></i>
                                        <p class="mb-0 font-style fw-400 fontsize-12 line-height-22 font-grey1" style="
                                        text-align: center;">No Hire</p>
                                        <p class="font-style fw-400 fontsize-12 line-height-22 font-grey1" style="
                                        
                                        text-align: center;">1 Jul 2018</p>
                                    </div>
                                    <div class="col" style="text-align: center;">

                                    </div>
                                    <div class="col-auto">

                                    </div>
                                </div>
                            </td>
                            <td class="font-black1 font-style fw-400 fontsize-18 line-height-28 " style=" text-align: center;
                            ">7<span class="dash"></span>3</td>
                            <td class="font-style fw-400 fontsize-12 line-height-16 font-grey1" style=" width: 40px;">No
                                Comments
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>